---
import HeroSvg from "../../public/imgs/Hero.svg";
import Link from "./common/Link.astro";
import Countdown from "./Countdown.astro";
---

<header class="flex flex-col gap-7 items-center">
  <div class="flex flex-col gap-3 items-center px-4">
    <hgroup class="flex flex-col items-center">
      <h1
        class="fade-in-up text-hero-title text-center font-semibold font-handlee leading-12"
        style="--stagger:0"
      >
        ¡Gracias por estar presente en el {" "}
      </h1>
      <p class="text-hero-inner-title text-center font-semibold font-handlee">
        <span class="fade-in-up inline-block" style="--stagger:1">
          Aforshow!
        </span>
      </p>
    </hgroup>
  </div>

  <!-- <Countdown class="fade-in-up" /> -->
  <div class="md:w-3/6 w-full px-4">
    <h2 class="text-caTextSecondary text-lg mb-3 text-center">
      Puedes ver la repetición del evento aquí:
    </h2>
    <div class="aspect-video w-full h-full">
      <iframe
        src="https://player.twitch.tv/?video=2582273307&parent=afor.show"
        frameborder="0"
        allowfullscreen
        scrolling="no"
        height="100%"
        width="100%"></iframe>
    </div>
  </div>

  <footer
    style="--stagger:4"
    class="flex flex-col md:flex-row gap-6 md:gap-4 items-center fade-in-up"
  >
    <Link
      href="https://youtu.be/LR3OpzyCQWM?si=_RulGhyygToeFNFs"
      variant="secondary">Ver charlas pasadas</Link
    >
    <Link href="https://twitch.tv/afor_digital" variant="primary"
      >¡Visita el canal!</Link
    >
  </footer>
  <section
    class="flex xl:max-2xl:justify-start 2xl:justify-end w-full h-[250px] pointer-events-none overflow-x-hidden"
  >
    <HeroSvg
      class="-translate-x-10 shrink-0 h-[250px] xl:translate-x-0 ml-auto"
    />
  </section>
</header>
