---
import { talks } from "../lib/talks";
import TalkItem from "./common/TalkItem.astro";
---

<section id="speakers" class="w-full flex flex-col items-center">
  <header class="flex items-center justify-center gap-4 w-fit mx-auto">
    <div>
      <img
        width="80"
        height="80"
        src="/svgs/Talks.svg"
        alt=""
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        fetchpriority="low"
      />
    </div>
    <h1 class="text-subtitle font-bold leading-9">Charlas y talleres</h1>
  </header>

  <ul class="flex flex-col w-full gap-6">
    {talks.map((talk, index) => (
      <>
        <!-- Sin client:load aquí -->
        <TalkItem talk={talk} index={index} />

        {talk.hasBreak && index < 2 && (
          <li class="w-full flex justify-center font-handlee">
            Mesa redonda 1: ¿Qué preferirías? versión tech
          </li>
        )}

        {talk.hasBreak && index > 2 && (
          <li class="w-full flex justify-center font-handlee">
            Mesa redonda 2
          </li>
        )}
      </>
    ))}
  </ul>
</section>

<!-- Carga el script cliente que hará el formateo y la carga de banderas -->
<script type="module" src="/src/components/speakers-client.ts" defer></script>
